@{
    ViewData["Title"] = "Registration";

    string Name = string.Empty;
    string Surname = string.Empty;
    string Age = string.Empty;
    decimal Balance = default;
    string Email = string.Empty;
    string Password = string.Empty;
    int AbonentNumber = 0;
}

<div style="margin-top: 40px;" class="login-box">
    <h2>Registration</h2>
    <form asp-action="Registration" method="post"> 
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="user-box">
            <input asp-for="@Name" type="text" placeholder="Name">
        </div>
        <div class="user-box">
            <input asp-for="@Surname" type="text" placeholder="Surname">
        </div>
        <div class="user-box">
            <label></label>
            <input asp-for="@Age"  type="number" placeholder="Age">
        </div>
       <div class="user-box">
            <label></label>
            <input asp-for="@AbonentNumber" maxlength="5" type="number" oninput="maxLengthCheck(this)" placeholder="Abonent Number">
        </div>
        <input hidden asp-for="@Balance" type="text">

        <div class="user-box">
            <input asp-for="@Email" type="email" placeholder="Email">
        </div>
        @* <div class="user-box">
            <input asp-for="@SubscriberCode" type="text" placeholder="Surname">
        </div> *@
        <div class="user-box">
            <input asp-for="@Password" type="password" placeholder="Password">
        </div>
        <a href="#" style="margin: 0; padding: 0;">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <button type="submit" style="width: 150px; height: 50px">Submit</button>
        </a>
    </form>
</div>

<script>
    function maxLengthCheck(object) {
        if (object.value.length > object.maxLength) {
            object.value = object.value.slice(0, object.maxLength);
        }
    }
</script>