@{
    ViewData["Title"] = "Registration";

    string Name = string.Empty;
    string Surname = string.Empty;
    int Age = default;
    decimal Balance = default;
    string Email = string.Empty;
    string Password = string.Empty;
}

<form asp-controller="Identity" asp-action="Registration" method="Post">
    <label asp-for="@Name">Name</label>
    <input asp-for="@Name" type="text">

    <label asp-for="@Surname">Surname</label>
    <input asp-for="@Surname" type="text">

    <label asp-for="@Age">Age</label>
    <input asp-for="@Age" type="text">

    
    <input hidden asp-for="@Balance" type="text">

    <label asp-for="@Email">Email</label>
    <input asp-for="@Email" type="text">

    <label asp-for="@Password">Password</label>
    <input asp-for="@Password" type="text">

    <button id="submit" type="submit">Register</button>
</form>